<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/arch-page/components/style.css">
</head>
<header>
  <div class="container">
    <nav>
      <a href="index.html" class="brand">
        .Collectiv
      </a>
      <ul class="menu">
        <li><a href="#">Philosophy</a></li>
        <li><a href="#">Works</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">CV</a></li>
        <li><a href="#">Contact</a></li>
          <form class="form-mobile">
            <input type="text"  class="search" placeholder="Search" />
          </form>
      </ul>
      <form class="text">
        <input type="text"  class="search" placeholder="Search" />
      </form>
      <button class="menu-btn">
        <span class="material-icons-outlined">
          segment
        </span>
      </button>
    </nav>

    <div class="header-body">
      <div class="slider">
        <div class="decoration-left anim">
          DISCOVER
          <span class="material-icons-outlined">
            trending_flat
          </span>
        </div>
        <div class="decoration-right anim"></div>
        <div class="overlay anim"></div>
        <img src="/arch-page/assets/img/img1.jpg" alt="img" class="slider-img" />
      </div>
      <div class="text">
        <div>
          <h1>
            Modern <br /> - Minimal
          </h1>
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at iaculis velit. Phasellus eleifend bibendum dolor, ac tincidunt odio. Donec ut scelerisque elit. Duis sed tellus pulvinar, pellentesque dolor nec, placerat magna. Suspendisse venenatis, tellus ut dictum ullamcorper, sem felis eleifend est, quis pretium leo erat at quam. Integer massa massa, vulputate id ipsum in, aliquam fermentum sem. Aliquam pretium elit lorem, eu facilisis lorem pretium eget. Sed vehicula varius libero eget sagittis. Vivamus facilisis justo at ultricies lacinia. Morbi vitae est cursus nunc lobortis gravida eu vitae dolor. Nulla interdum volutpat eros, id facilisis velit volutpat vel. Nunc in fringilla lectus. Mauris euismod purus elit, vitae pellentesque arcu molestie eget. Nulla facilisi. Aenean consequat, lorem a ornare lobortis, massa enim gravida neque, sed gravida leo nisl id arcu. Suspendisse augue mi, egestas ut ligula ut, congue auctor libero.</p>
        </div>
      </div>
      <ul class="social">
        <li><a href="#">LinkedIn</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Email</a></li>
      </ul>
    </div>

    <nav class="header-bottom">
      <div class="controls">
        <span class="prev">Prev</span>
        <span class="next">Next</span>
      </div>
      <ul class="pagination">
        <li class="pag active"><span>01</span></li>
        <li class="pag"><span>02</span></li>
        <li class="pag"><span>03</span></li>
        <li class="pag"><span>04</span></li>
        <li class="pag"><span>05</span></li>
      </ul>
      <span>Massy, Paris</span>
    </nav>
  </div>
</header>
